[submodule "themes/hugoprofile"]
	path = themes/hugoprofile
	url = https://github.com/gurusabarish/hugo-profile.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/hugoProfileReforge"]
	path = themes/hugoProfileReforge
	url = https://github.com/soneeee22000/hugoProfileReforge.git
[submodule "themes.hugoProfileReforge"]
	path = themes.hugoProfileReforge
	url = https://github.com/soneeee22000/hugoProfileReforge.git
